<!-- <div class="container">
    <div class="card-columns m-5 animated fadeIn">
        <div *ngFor="let queens of allQueens" class="card puntero">

            {{ queens.name }}
            <img class="card-img-top" [src]="queens.image_url " alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> aaa </h5>
                <p class="card-text"> -->
<!-- <span *ngFor="let artists of item.artists" class="badge badge-pill badge-primary">
                        {{ artists.name }}</span> -->
<!-- </p>
            </div>
        </div>
    </div>
</div> -->

<h4>Tutorials List</h4>
<ul>
    <li *ngFor="let queens of allQueens.name">

        

        asdsad
    </li>
</ul>



<!-- 
id: number;
winner: boolean;
missCongeniality: boolean;
image_url: string;
quote: string; -->